body {
  margin: 0px;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: #e6e6e6;
  text-align: center;
}

.foto_personal {
  padding: 20px;
  width: 200px;
  height: auto;
}

span {
  font-style: italic;
  font-weight: bold;
}

h1 {
  background-color: #c4c4c4;
  text-align: center;
  color: #005677;
  letter-spacing: 0.5rem;
  line-height: 84.69%;
  font-weight: bold;
  font-size: 35px;
  padding-top: 14px;
  padding-bottom: 16px;
  margin-top: 0px;
  margin-bottom: 149px;
}

h2 {
  background-color: #c4c4c4;
  color: #005677;
  letter-spacing: 0.5rem;
  line-height: 84.69%;
  font-weight: bold;
  font-size: 20px;
  padding: 6px 12px 7px 12px;
}

section {
  background-color: #c4c4c4;
}

section ul li {
  margin-bottom: 0.3rem;
}

li {
  font-size: 15px;
  line-height: 1.3rem;
}

ul li span {
  font-weight: bold;
}

li ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

p {
  margin-left: 26px;
}

footer {
  display: flex;
  margin-top: 120px;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: #005677;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer span {
  font-weight: bold;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

footer img {
  margin-left: 26px;
}
